.DS_Store
Thumbs.db
journal.pdf
screenshots/
*.xlsx
!Км-42.xlsx
!template.xlsx
node_modules/
_peek*.py
__pycache__/
Scripts/
Lib/
Include/
pyvenv.cfg
*.pyc

# Local Netlify folder
.netlify
_netlify_publish/
